@import url('https://fonts.googleapis.com/css2?family=LXGW+WenKai+Mono+TC&family=Lexend:wght@100..900&display=swap');

.lxgw-wenkai-mono-tc-regular {
    font-family: "LXGW WenKai Mono TC", monospace;
    font-weight: 400;
    font-style: normal;
}

.lexend-rat {
    font-family: "Lexend", sans-serif;
    font-weight: 200;
    font-style: normal;
}

body {
    background-color: #221204;
    padding: 3%;
    margin-left: 10%;
    margin-right: 10%;
    font-family: "Lexend", sans-serif;
}

header {
    background-color: #CF5C36;
    color: #221204;
    padding: 3%;
    position: relative;
    border-radius: 15px;
    border: 5px solid wheat;
    border-style: groove;
    display: flex;
    justify-content: space-evenly;
    background: radial-gradient(#CF5C36 55%, wheat);
}

header h1 {
    font-size: 3vw;
    text-shadow: -1px 0 wheat, 0 1px wheat, 1px 0 wheat, 0 -1px wheat, -3px 0 wheat ;
}

.logo {
    position: absolute;
    top: 10px;
    right: 10px;
    width: auto;
    height: 90%;
    
}

::-webkit-scrollbar {
    width: 0.75vw;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px wheat;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb {
    background: wheat;
    border-radius: 10px;
}

nav {
    margin: 1.5%;
    justify-content: center;
    align-items: center;
    background-color: #CF5C36;
    border: 5px groove wheat;
    box-shadow: #22120485 5px 10px;
    border-radius: 15px;
}

.flex {
    display: flex;
}

nav a {
    padding: 10px;
    margin: 0.75%;
    border: #221204 groove 5px;
    border-radius: 10px 10px;
    color: #221204;
    background-color: wheat;
    width: 50%;
    height: 50%;
    transition: 0.2s;
    box-shadow: #22120485 5px 5px;
    text-align: center;
    font-size: 1.3vw;
    text-decoration: none;
    font-weight: 700;
}

nav a:hover {
    background-color: #221204;
    color: wheat;
    border-color: wheat;
    width: 60%;
    height: 60%;
}

.sticky {
    position: sticky;
    top: 1.5%;
    z-index: 10;
}

.container {
    display: flex;
    
}
main {
    padding: 3%;
    background-color: #CF5C36;
    color: #221204;
    border: 5px solid wheat;
    border-style: groove;
    border-radius: 10px 10px;
    flex: 60%;
    position: relative;
    width: auto;
}

.section {
    text-indent: 5px;
    max-height: 700px;
    overflow-y: auto;
}

.info {
    background-color: wheat;
    border-radius: 5px;
    border: #221204 groove;
    display: flex;
    margin: 1.5%;
}

.info a {
    color: #221204;
    text-decoration: none;
}

.info img {
    float: left;
    border-radius: 5px;
    border: #221204 groove 5px;
    margin: 3%;
    width: 300px;
    height: 200px;
    object-fit: cover;
    position: relative;
}

.info p,h1 {
    text-align: center;
    padding: 0.5vw;
    margin: 1.5%;
}

aside {
    padding: 3%;
    background-color: #CF5C36;
    color: wheat;
    border: 5px solid wheat;
    border-style: groove;
    margin-left: 1.5%;
    flex: 15%;
    border-radius: 10px 10px;
    word-break: keep-all;
}

footer {
    padding: 3%;
    background-color: #CF5C36;
    color: wheat;
    border: 5px solid wheat;
    border-style: groove;
    border-radius: 10px 10px;
    margin-top: 1.5%;
    word-break: keep-all;
}

fieldset {
    width: 70%;
    margin: auto;
    padding: 2%;
    border: 3px groove goldenrod;
    font-size: 1.25em;
    color: white;

}

legend {
    font-size: 1em;
    padding: 0 10px;
    margin: 5px 0;
    text-align: center;
    color: white;
    font-weight: bold;
}

.personal {
    width: 40%;
    margin-right: auto;
    text-align: center;
    font-size: 1.25em;
}

fieldset .left {
    width: 45%;
    float: left;
}

fieldset .right {
    width: 45%;
    float: right;
}

fieldset span {
    font-weight: bold;
    font-size: 1.25em;
    color: #ff0000;
}

fieldset label {
    color: white;
    font-size: 30px;
}

fieldset h3 {
    font-size: 32px;
}

input[type=text], select, option {
    padding: 8px;
    width: 90%;
    border-radius: 10px;
    border: 1px solid #2929a3;
    background-color: #d6d6f5;
}

input[type=email], select, option {
    padding: 8px;
    width: 90%;
    border-radius: 10px;
    border: 1px solid #2929a3;
    background-color: #d6d6f5;
}

input[type=number], select, option {
    padding: 8px;
    width: 90%;
    border-radius: 10px;
    border: 1px solid #2929a3;
    background-color: #d6d6f5;
}
textarea {
    width: 88%;
    margin-top: 20px;
    height: 8em;
    padding: 8px;
    border-radius: 10px;
    border: 1px solid #2929a3;
    background-color: #d6d6f5;
    font-family: 'Exo 2', sans-serif;
}

input[type=text]:focus, select:focus, textarea:focus {
    background-color: #ffffff;
    border: 1px solid #8585e0;
}

.btns {
    width: 42%;
    margin: auto;
}

input[type=submit], input[type=reset] {
    width: 47.5%;
    font-size: 1.5em;
    padding: 0 10px;
    margin: 5px;
    text-align: center;
    color: #2929a3;
    font-weight: bold;
    background-color: #d6d6f5;
    border: 2px solid #2929a3;
    border-radius: 5px;
}